.preMilton{
    margin-bottom: 0;
}
.milton{
    font-family: "Milton Keynes";
    font-size:10vh;
    src: url('/assets/fonts/MiltonKeynes.ttf') format('truetype');
}
.masInfo2 {
    padding-left: 75px;
    padding-right: 75px;
    background-color: #FFE92F;
}