.preMilton{
    margin-bottom: 0;
}
.milton{
    font-family: "Montserrat Black";
    font-size:10vh;
    src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
}
.masInfo2 {
    padding-left: 75px;
    padding-right: 75px;
    background-color: #FFE92F;
}

#contenedor-mapa { 
    height: 120vh; 
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  
  @media only screen and (max-width: 991px) {
    #map {
      width:100px;
height:300px;
    }
}