<nav class="bar navbar navbar-dark navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="home/"><img src="assets/imagenes/logo-inicio.png" class="logo img-fluid rounded float-left" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid">
        <li class="nav-item">
          <a class="navbar-brand" href="home/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="nosotros/">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="comofunciona/">¿CÓMO FUNCIONA?</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="eresprofesional/">¿ERES PROFESIONAL?</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="servicio/">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="contacto/">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="d-none d-md-inline" id="body" >
    <div id="quienesSomos" class="contenedor">
        <div class="row" style="font-size: 2vh;padding-top: 2vw;">
            <div class="col-6 d-flex justify-content-center flex-md-column center-md">
                <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                    <h1 class="preMilton" style="font-size: 6vh;">¿Quiénes</h1>
                </div>
                <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                    <h1 class="milton" style=" font-size: 14vh;">Somos?</h1>
                </div>
                <div>
                    <p>
                      Somos una plataforma digital en la cual ofrecemos mediante una página web y aplicación móvil, servicios entre proveedores y usuarios, siendo intermediarios entre las solicitudes recibidas. A través de la aplicación móvil de "Vive Fácil", los usuarios pueden navegar en las categorías de hogar, oficina, eventos, belleza, seguridad y atención automotriz, y solicitar una variedad de servicios que les permitirá solucionar problemas diarios. 
                      En Vive Fácil nos dedicamos en brindar comodidad y facilitar la vida de las personas para que puedan buscar profesionales y expertos altamente capacitados que ejecuten todo tipo de requerimiento y estén aptos para brindar un servicio de alta calidad y así lograr optimizar el tiempo de los usuarios. 
                      Nos esforzamos por mantenernos a la vanguardia de las últimas tendencias y tecnologías para ofrecer alternativas innovadoras y efectivas que ayuden a la empresa a obtener aceptación y reconocimiento por parte del cliente. 
                    </p>
                    <h1 class="milton" style="color:#433689;">Misión</h1>
                    <p>
                      Ofrecer comodidad mediante la página web y aplicación móvil de "Vive Fácil", servicios integrales entre proveedores y usuarios. Brindar un servicio atento, proactivo y personalizado a los clientes, ayudarlos a solucionar sus necesidades a través de la búsqueda de un equipo capacitado y profesionales expertos que ejecuten efectivamente servicios de calidad en diferentes áreas y además establecer relaciones sólidas y duraderas con ellos.
                    </p>
                    <h1 class="milton" style="color:#433689;">Visión</h1>
                    <p>
                      Convertirnos en líderes reconocidos a nivel nacional e internacional en el campo de servicios para hogar, oficina, eventos, belleza, seguridad y atención automotriz a través de la página web y aplicación móvil de “Vive Fácil”. Deseamos ser un socio preferido y confiable tanto para los usuarios como para los proveedores, por lo que, aspiramos trabajar con clientes de diversos sectores y ayudarlos a conseguir su máximo potencial. 
                    </p>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center flex-column" >
                <img class="borrarMovil" src="assets/imagenes/trabajador1copia.jpg" style="height:100%;">
            </div>
            <div class="col-12 d-flex justify-content-center flex-md-column center-md">
              <div>
                <h1 class="milton" style="color:#433689;">Valores</h1>
                <ul>
                  <li>
                    <b>Excelencia:</b> Buscar constantemente la excelencia en la calidad de los servicios ofrecidos, brindando soluciones de alta calidad que superen las expectativas de los clientes.
                  </li>
                  <li>
                    <b>Innovación:</b> Estar a la vanguardia de las últimas tendencias y tecnologías digitales, buscando constantemente nuevas formas de mejorar. 
                  </li>
                  <li>
                    <b>Confianza:</b> Construir relaciones sólidas y duraderas basadas en la confianza mutua con los clientes.
                  </li>
                  <li>
                    <b>Integridad:</b> Actuar con honestidad, ética y transparencia en todas las interacciones con los clientes, manteniendo la confidencialidad.
                  </li>
                  <li>
                    <b>Aprendizaje continuo:</b> Promover un entorno de aprendizaje y desarrollo constante, fomentando la mejora continua y la actualización de conocimientos. 
                  </li>
                </ul>
                <h1 class="milton" style="color:#433689;">Objetivos</h1>
                <ul>
                  <li>
                    Facilitar a los usuarios al momento de contratar servicios en Vive Fácil de una manera segura.
                  </li>
                  <li>
                    Brindar confianza a los usuarios con un servicio eficaz. 
                  </li>
                  <li>
                    Dar a conocer nuestros servicios con descripciones, beneficios y soluciones a los usuarios mediante nuestra página web y aplicación móvil innovadora. 
                  </li>
                  <li>
                    Ayudar a proveedores y emprendedores para dar a conocer sus servicios. 
                  </li>
                  <li>
                    Mejorar la experiencia del usuario a través de la página web con un diseño atractivo, una navegación intuitiva, tiempos de carga rápidos y con contenido relevante. 
                  </li>
                </ul>
                <h1 class="milton" style="color:#433689;">Descripción</h1>
                <p>
                  Somos una página web y la aplicación móvil dedicadas a ofrecer una amplia gama de servicios que facilitan la vida de las personas, es un recurso completo y accesible que permite a los usuarios encontrar y contratar fácilmente servicios para hacer sus actividades más sencillas, desde la comodidad de su hogar o lugar de trabajo pueden acceder a una variedad de categorías de manera rápida.
                  El contenido principal de la plataforma se centra en presentar una descripción general de los servicios ofrecidos, destacar ventajas y beneficios que los usuarios pueden obtener al utilizarlos, cada uno tiene su propia página dedicada, que proporciona un perfil detallado, con toda la información de contacto de clientes y proveedores destacando sus habilidades, experiencia y logros en la industria. De esta manera, los visitantes pueden conocer más sobre los profesionales que estarán a cargo de brindarles los servicios deseados.
                  Adicional, los usuarios son recibidos con un diseño moderno y atractivo que refleja la identidad de "Vive Fácil" y ellos pueden encontrar rápidamente lo que necesitan a través de una búsqueda intuitiva o navegando por las categorías. 
                </p>
              </div>
          </div>
        </div>
    </div>
    <div id="garantia" >
        <img src="assets/imagenes/descanso.jpg" style="width: 100%;">
        <a href="https://play.google.com/store/apps/details?id=com.tome.app" class="invis btn  btn-lg"></a>
      </div>
</div>



<div class="d-inline d-sm-none d-none d-sm-inline d-md-none" id="body" >
    <div id="quienesSomos" class="contenedor">
        <div class="row" style="font-size: 2.7vh;padding-top: 5vw;">
            <div class="col-13 d-flex justify-content-center flex-sm-column center-sm">
                <div>
                    <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                        <h1 class="preMilton" style="font-size: 6vh;">¿Quiénes</h1>
                    </div>
                    <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                        <h1 class="milton" style=" font-size: 14vh;">Somos?</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit, sed diam nonummy nibh euismod tincidunt ut lao-
                    reet dolore magna aliquam erat volutpat.</p>
                    <h1 class="milton" style="color:#433689;">Misión</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut lao-
                        reet dolore magna aliquam erat volutpat.</p>
                    <h1 class="milton" style="color:#433689;">Visión</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut lao-
                        reet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>
</div>