<nav class="bar navbar navbar-dark navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="home/"><img src="assets/imagenes/logo-inicio.png" class="logo img-fluid rounded float-left" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid">
        <li class="nav-item">
          <a class="navbar-brand" href="home/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="nosotros/">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="comofunciona/">¿CÓMO FUNCIONA?</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="eresprofesional/">¿ERES PROFESIONAL?</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="servicio/">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="contacto/">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="d-none d-md-inline" id="body" >
    <div id="quienesSomos" class="contenedor">
        <div class="row" style="font-size: 3.2vh;padding-top: 2vw;">
            <div class="col-6 d-flex justify-content-center flex-md-column center-md">
                <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                    <h1 class="preMilton" style="font-size: 6vh;">¿Quiénes</h1>
                </div>
                <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                    <h1 class="milton" style=" font-size: 14vh;">Somos?</h1>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit, sed diam nonummy nibh euismod tincidunt ut lao-
                    reet dolore magna aliquam erat volutpat.</p>
                    <h1 class="milton" style="color:#433689;">Misión</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut lao-
                        reet dolore magna aliquam erat volutpat.</p>
                    <h1 class="milton" style="color:#433689;">Visión</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut lao-
                        reet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center flex-column" >
                <img class="borrarMovil" src="assets/imagenes/trabajador1copia.jpg" style="height:100%;">
            </div>
        </div>
    </div>
    <div id="garantia" >
        <img src="assets/imagenes/descanso.jpg" style="width: 100%;">
        <a href="https://play.google.com/store/apps/details?id=com.tome.app" class="invis btn  btn-lg"></a>
      </div>
</div>



<div class="d-inline d-sm-none d-none d-sm-inline d-md-none" id="body" >
    <div id="quienesSomos" class="contenedor">
        <div class="row" style="font-size: 2.7vh;padding-top: 5vw;">
            <div class="col-13 d-flex justify-content-center flex-sm-column center-sm">
                <div>
                    <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                        <h1 class="preMilton" style="font-size: 6vh;">¿Quiénes</h1>
                    </div>
                    <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                        <h1 class="milton" style=" font-size: 14vh;">Somos?</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit, sed diam nonummy nibh euismod tincidunt ut lao-
                    reet dolore magna aliquam erat volutpat.</p>
                    <h1 class="milton" style="color:#433689;">Misión</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut lao-
                        reet dolore magna aliquam erat volutpat.</p>
                    <h1 class="milton" style="color:#433689;">Visión</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit, sed diam nonummy nibh euismod tincidunt ut lao-
                        reet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>
</div>