<div id="body" >
    <div id="tipoUsuario" >
        <img src="assets/imagenes/trabajadores.jpg" style="width: 100%;">
    </div>
    <div class="row" style="font-size: 3.2vh;padding-top: 2vw;">
        <div class="col-6 d-flex justify-content-center flex-column"  style="padding-left: 5vw; padding-bottom: 5vw;" >
            <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                <h1 class="preMilton" style="font-size: 6vh;">¿Quienes</h1>
            </div>
            <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
                <h1 class="milton" style=" font-size: 14vh;">Somos?</h1>
            </div>
            <div >
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit, sed diam nonummy nibh euismod tincidunt ut lao-
                reet dolore magna aliquam erat volutpat.</p>
                <h1 class="milton" style="color:#433689;">Misión</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit, sed diam nonummy nibh euismod tincidunt ut lao-
                    reet dolore magna aliquam erat volutpat.</p>
                <h1 class="milton" style="color:#433689;">Visión</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit, sed diam nonummy nibh euismod tincidunt ut lao-
                    reet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center flex-column"   >
            <img src="assets/imagenes/trabajador1.jpg" style="height:100%;">
        </div>
    </div>
    <div id="garantia" >
        <img src="assets/imagenes/descanso.jpg" style="width: 100%;">
        <a href="https://play.google.com/store/apps/details?id=com.tome.app" class="invis btn  btn-lg"></a>
      </div>
</div>