<nav class="bar navbar navbar-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="home/"><img src="assets/imagenes/logo-inicio.png" class="logo img-fluid rounded float-left" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid">
          <li class="nav-item">
            <a class="navbar-brand" href="home/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="nosotros/">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="comofunciona/">¿CÓMO FUNCIONA?</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="eresprofesional/">¿ERES PROFESIONAL?</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="servicio/">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="contacto/">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div id="body" class="d-none d-md-block">
    <div class="headerrr">
        <div class=" flex-row justify-content-around d-none d-md-inline" style="color:#433689;">
            <div class="d-flex flex-row justify-content-around">
                <h1 class="milton">Blog</h1>
            </div>
        </div>
        <h1><b>Consejos para mantener tu hogar en óptimas condiciones</b></h1>
        <img src="assets/imagenes/blog/03.png" style="width: 50%;">
    </div>
    <h2 class="preMilton"><b>
        Mantener tu hogar en óptimas condiciones es fundamental para garantizar un ambiente seguro, cómodo y agradable para ti y tu familia. Aunque puede parecer abrumador, con algunos consejos simples y una rutina de mantenimiento regular, puedes evitar problemas costosos y prolongar la vida útil de tus sistemas y estructuras. En este blog, te brindaremos consejos prácticos para mantener tu hogar en excelentes condiciones.<br></b></h2>
    <div >
        <ul type="1" class="container-fluid" >
            <li class="px-5"> 
                <b>Realiza un mantenimiento regular:</b><br>
                Establece una rutina de mantenimiento regular para revisar y mantener diferentes áreas de tu hogar. Esto incluye inspeccionar los sistemas de fontanería y electricidad, revisar el funcionamiento de los electrodomésticos, limpiar los filtros de aire acondicionado y calefacción, y realizar inspecciones periódicas en el techo y las paredes.
            </li>
            <li class="px-5">
                <b>Controla la humedad:</b><br>
                La humedad excesiva puede causar daños en las paredes, pisos y muebles, así como favorecer la proliferación de moho y ácaros. Mantén un nivel adecuado de humedad en tu hogar utilizando deshumidificadores, ventilando adecuadamente los espacios y reparando cualquier filtración de agua.
            </li>
            <li class="px-5">
                <b>Presta atención a las áreas exteriores:</b><br>
                No te olvides de mantener en buen estado las áreas exteriores de tu hogar. Limpia y despeja los desagües pluviales, corta el césped regularmente, poda los árboles y arbustos, y verifica el estado de las ventanas, puertas y revestimientos exteriores.
            </li>
            <li class="px-5">
                <b>Cuida tus sistemas de calefacción y refrigeración:</b><br>
                Realiza un mantenimiento regular en tus sistemas de calefacción y refrigeración. Limpia o reemplaza los filtros regularmente, verifica los conductos de aire para asegurarte de que estén sellados correctamente y programa revisiones anuales con profesionales para garantizar un rendimiento eficiente.
            </li>
            <li class="px-5">
                <b>Revisa las instalaciones eléctricas:</b><br>
                La seguridad eléctrica es esencial en tu hogar. Verifica regularmente los enchufes, interruptores y cables en busca de signos de desgaste o daños. Si notas algo inusual, llama a un electricista para que lo revise y realice las reparaciones necesarias.
            </li>
            <li class="px-5">
                <b>Mantén una buena limpieza:</b><br>
                Una limpieza regular es clave para mantener tu hogar en óptimas condiciones. Limpia y desinfecta los espacios, pasa la aspiradora, barre y trapea los pisos, y lava regularmente las superficies, incluyendo ventanas, puertas y muebles.
            </li>
            <li class="px-5">
                <b>Atiende los problemas de inmediato:</b><br>
                No ignores los problemas que surjan en tu hogar. Ya sea una pequeña filtración, un grifo que gotea o un electrodoméstico que funciona mal, abordar los problemas de inmediato te ahorrará futuros dolores de cabeza y costos adicionales.
            </li>
        </ul>
    </div>
    <p>Mantener tu hogar en óptimas condiciones requiere un poco de esfuerzo y atención regular, pero los beneficios valen la pena. Al seguir estos consejos y establecer una rutina de mantenimiento, podrás evitar problemas mayores, prolongar la vida útil de tus sistemas y estructuras, y crear un ambiente seguro y cómodo para ti y tu familia. </p>
</div>


<div id="body2" class="d-inline d-sm-none d-none d-sm-inline d-md-none">
    <div class="headerrr">
        <div class=" flex-row justify-content-around" style="color:#433689;">
            <div class="d-flex flex-row justify-content-around">
                <h1 class="milton">Blog</h1>
            </div>
        </div>
        <h1><b>Consejos para mantener tu hogar en óptimas condiciones</b></h1>
        <img src="assets/imagenes/blog/03.png" style="width: 50%;">
    </div>
    <h2 class="preMilton"><b>Mantener tu hogar en óptimas condiciones es fundamental para garantizar un ambiente seguro, cómodo y agradable para ti y tu familia. Aunque puede parecer abrumador, con algunos consejos simples y una rutina de mantenimiento regular, puedes evitar problemas costosos y prolongar la vida útil de tus sistemas y estructuras. En este blog, te brindaremos consejos prácticos para mantener tu hogar en excelentes condiciones.<br></b></h2>
    <div >
        <ul type="1" class="container-fluid" >
            <li class="px-5"> 
                <b>Realiza un mantenimiento regular:</b><br>
                Establece una rutina de mantenimiento regular para revisar y mantener diferentes áreas de tu hogar. Esto incluye inspeccionar los sistemas de fontanería y electricidad, revisar el funcionamiento de los electrodomésticos, limpiar los filtros de aire acondicionado y calefacción, y realizar inspecciones periódicas en el techo y las paredes.
            </li>
            <li class="px-5">
                <b>Controla la humedad:</b><br>
                La humedad excesiva puede causar daños en las paredes, pisos y muebles, así como favorecer la proliferación de moho y ácaros. Mantén un nivel adecuado de humedad en tu hogar utilizando deshumidificadores, ventilando adecuadamente los espacios y reparando cualquier filtración de agua.
            </li>
            <li class="px-5">
                <b>Presta atención a las áreas exteriores:</b><br>
                No te olvides de mantener en buen estado las áreas exteriores de tu hogar. Limpia y despeja los desagües pluviales, corta el césped regularmente, poda los árboles y arbustos, y verifica el estado de las ventanas, puertas y revestimientos exteriores.
            </li>
            <li class="px-5">
                <b>Cuida tus sistemas de calefacción y refrigeración:</b><br>
                Realiza un mantenimiento regular en tus sistemas de calefacción y refrigeración. Limpia o reemplaza los filtros regularmente, verifica los conductos de aire para asegurarte de que estén sellados correctamente y programa revisiones anuales con profesionales para garantizar un rendimiento eficiente.
            </li>
            <li class="px-5">
                <b>Revisa las instalaciones eléctricas:</b><br>
                La seguridad eléctrica es esencial en tu hogar. Verifica regularmente los enchufes, interruptores y cables en busca de signos de desgaste o daños. Si notas algo inusual, llama a un electricista para que lo revise y realice las reparaciones necesarias.
            </li>
            <li class="px-5">
                <b>Mantén una buena limpieza:</b><br>
                Una limpieza regular es clave para mantener tu hogar en óptimas condiciones. Limpia y desinfecta los espacios, pasa la aspiradora, barre y trapea los pisos, y lava regularmente las superficies, incluyendo ventanas, puertas y muebles.
            </li>
            <li class="px-5">
                <b>Atiende los problemas de inmediato:</b><br>
                No ignores los problemas que surjan en tu hogar. Ya sea una pequeña filtración, un grifo que gotea o un electrodoméstico que funciona mal, abordar los problemas de inmediato te ahorrará futuros dolores de cabeza y costos adicionales.
            </li>
        </ul>
    </div>
    <p>Mantener tu hogar en óptimas condiciones requiere un poco de esfuerzo y atención regular, pero los beneficios valen la pena. Al seguir estos consejos y establecer una rutina de mantenimiento, podrás evitar problemas mayores, prolongar la vida útil de tus sistemas y estructuras, y crear un ambiente seguro y cómodo para ti y tu familia. </p>
</div>
