<nav class="bar navbar navbar-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="home/"><img src="assets/imagenes/logo-inicio.png" class="logo img-fluid rounded float-left" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid">
          <li class="nav-item">
            <a class="navbar-brand" href="home/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="nosotros/">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="comofunciona/">¿CÓMO FUNCIONA?</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="eresprofesional/">¿ERES PROFESIONAL?</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="servicio/">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="contacto/">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div id="body" class="d-none d-md-block">
    <div class="headerrr">
        <div class=" flex-row justify-content-around d-none d-md-inline" style="color:#433689;">
            <div class="d-flex flex-row justify-content-around">
                <h1 class="milton">Blog</h1>
            </div>
        </div>
        <h1><b>9 servicios profesionales que puedes encontrar en Vive Facil</b></h1>
        <img src="assets/imagenes/Instalación-y-características-de-un-cuadro-eléctrico-industrial.jpg" style="width: 50%;">
    </div>
    <h2 class="preMilton"><b>
        Vive Facil es una plataforma en línea que conecta a usuarios con prestadores de servicios profesionales y técnicos de confianza. Con solo unos clics, puedes acceder a una amplia gama de servicios que te facilitarán la vida y resolverán tus necesidades de manera eficiente. En este blog, te presentamos 10 servicios profesionales que puedes encontrar en Vive Facil y cómo pueden ayudarte a simplificar tus tareas diarias.<br></b></h2>
    <div >
        <ul type="1" class="container-fluid" >
            <li class="px-5"> 
                <b>Reparaciones del hogar: </b><br>
                Ya sea que necesites arreglar una tubería rota, reparar un electrodoméstico o solucionar un problema eléctrico, Vive Facil te conecta con profesionales especializados en reparaciones del hogar. Olvídate de la frustración de buscar un técnico calificado, ¡Vive Facil lo hace por ti!
            </li>
            <li class="px-5">
                <b>Servicios de limpieza: </b><br>
                ¿Necesitas un hogar impecable pero no tienes tiempo para limpiarlo tú mismo? En Vive Facil encontrarás servicios de limpieza confiables y de calidad. Desde limpieza general hasta limpieza a fondo, los profesionales disponibles en la plataforma te ayudarán a mantener tu hogar en óptimas condiciones.
            </li>
            <li class="px-5">
                <b>Clases particulares: </b><br>
                Si buscas mejorar tus habilidades o necesitas ayuda académica, Vive Facil te ofrece una amplia selección de profesores particulares. Puedes encontrar expertos en matemáticas, idiomas, música, arte y más. Aprende a tu propio ritmo y alcanza tus metas educativas.
            </li>
            <li class="px-5">
                <b>Servicios de jardinería: </b><br>
                Mantener un jardín hermoso requiere tiempo y conocimientos. En Vive Facil encontrarás jardineros profesionales que se encargarán del mantenimiento de tu jardín, poda de árboles, diseño paisajístico y todo lo necesario para crear un espacio verde increíble.
            </li>
            <li class="px-5">
                <b>Servicios de plomería:</b><br>
                Cuando tienes un problema de plomería, la respuesta rápida y eficiente es crucial. Vive Facil te conecta con fontaneros certificados que solucionarán cualquier fuga, obstrucción o reparación de tuberías que necesites.
            </li>
            <li class="px-5">
                <b>Servicios de pintura: </b><br>
                ¿Quieres renovar tu hogar con un cambio de color? Vive Facil te ofrece una lista de pintores profesionales que te ayudarán a transformar tus espacios con una nueva capa de pintura fresca y de calidad.
            </li>
            <li class="px-5">
                <b>Servicios de electricidad: </b><br>
                Los problemas eléctricos pueden ser peligrosos si no se manejan adecuadamente. Vive Facil te brinda acceso a electricistas capacitados que solucionarán cualquier inconveniente eléctrico y garantizarán la seguridad de tu hogar.
            </li>

            <li class="px-5">
                <b>Diseño de interiores: </b><br>
                Si necesitas darle un nuevo estilo a tu hogar, Vive Facil te conecta con diseñadores de interiores talentosos. Ellos te ayudarán a crear un ambiente acogedor y funcional, optimizando el espacio y reflejando tu estilo personal.
            </li>
            <li class="px-5">
                <b>Servicios de carpintería:  </b><br>
                Desde reparaciones simples hasta proyectos de carpintería personalizados, Vive Facil te conecta con carpinteros experimentados que realizarán cualquier tarea relacionada con la madera, ya sea construir muebles a medida, reparar puertas o instalar estanterías.
            </li>
        </ul>
    </div>
</div>


<div id="body2" class="d-inline d-sm-none d-none d-sm-inline d-md-none">
    <div class="headerrr">
        <div class=" flex-row justify-content-around" style="color:#433689;">
            <div class="d-flex flex-row justify-content-around">
                <h1 class="milton">Blog</h1>
            </div>
        </div>
        <h1><b>9 servicios profesionales que puedes encontrar en Vive Facil</b></h1>
        <img src="assets/imagenes/Instalación-y-características-de-un-cuadro-eléctrico-industrial.jpg" style="width: 50%;">
    </div>
    <h2 class="preMilton"><b>
        Vive Facil es una plataforma en línea que conecta a usuarios con prestadores de servicios profesionales y técnicos de confianza. Con solo unos clics, puedes acceder a una amplia gama de servicios que te facilitarán la vida y resolverán tus necesidades de manera eficiente. En este blog, te presentamos 10 servicios profesionales que puedes encontrar en Vive Facil y cómo pueden ayudarte a simplificar tus tareas diarias.<br></b></h2>
    <div >
        <ul type="1" class="container-fluid" >
            <li class="px-5"> 
                <b>Reparaciones del hogar: </b><br>
                Ya sea que necesites arreglar una tubería rota, reparar un electrodoméstico o solucionar un problema eléctrico, Vive Facil te conecta con profesionales especializados en reparaciones del hogar. Olvídate de la frustración de buscar un técnico calificado, ¡Vive Facil lo hace por ti!
            </li>
            <li class="px-5">
                <b>Servicios de limpieza: </b><br>
                ¿Necesitas un hogar impecable pero no tienes tiempo para limpiarlo tú mismo? En Vive Facil encontrarás servicios de limpieza confiables y de calidad. Desde limpieza general hasta limpieza a fondo, los profesionales disponibles en la plataforma te ayudarán a mantener tu hogar en óptimas condiciones.
            </li>
            <li class="px-5">
                <b>Clases particulares: </b><br>
                Si buscas mejorar tus habilidades o necesitas ayuda académica, Vive Facil te ofrece una amplia selección de profesores particulares. Puedes encontrar expertos en matemáticas, idiomas, música, arte y más. Aprende a tu propio ritmo y alcanza tus metas educativas.
            </li>
            <li class="px-5">
                <b>Servicios de jardinería: </b><br>
                Mantener un jardín hermoso requiere tiempo y conocimientos. En Vive Facil encontrarás jardineros profesionales que se encargarán del mantenimiento de tu jardín, poda de árboles, diseño paisajístico y todo lo necesario para crear un espacio verde increíble.
            </li>
            <li class="px-5">
                <b>Servicios de plomería:</b><br>
                Cuando tienes un problema de plomería, la respuesta rápida y eficiente es crucial. Vive Facil te conecta con fontaneros certificados que solucionarán cualquier fuga, obstrucción o reparación de tuberías que necesites.
            </li>
            <li class="px-5">
                <b>Servicios de pintura: </b><br>
                ¿Quieres renovar tu hogar con un cambio de color? Vive Facil te ofrece una lista de pintores profesionales que te ayudarán a transformar tus espacios con una nueva capa de pintura fresca y de calidad.
            </li>
            <li class="px-5">
                <b>Servicios de electricidad: </b><br>
                Los problemas eléctricos pueden ser peligrosos si no se manejan adecuadamente. Vive Facil te brinda acceso a electricistas capacitados que solucionarán cualquier inconveniente eléctrico y garantizarán la seguridad de tu hogar.
            </li>

            <li class="px-5">
                <b>Diseño de interiores: </b><br>
                Si necesitas darle un nuevo estilo a tu hogar, Vive Facil te conecta con diseñadores de interiores talentosos. Ellos te ayudarán a crear un ambiente acogedor y funcional, optimizando el espacio y reflejando tu estilo personal.
            </li>
            <li class="px-5">
                <b>Servicios de carpintería:  </b><br>
                Desde reparaciones simples hasta proyectos de carpintería personalizados, Vive Facil te conecta con carpinteros experimentados que realizarán cualquier tarea relacionada con la madera, ya sea construir muebles a medida, reparar puertas o instalar estanterías.
            </li>
        </ul>
    </div>
</div>
