<div class="d-none d-md-inline">
    <div id="qeweqw" class="d-flex flex-row justify-content-around" style="padding-top: 8vh; padding-bottom: 5vh; margin-bottom: 0; color:#433689;background-color: white;">
        <h1 class="milton" style="padding-bottom: 0; margin-bottom: 0;">¿Cómo Funciona?</h1>
    </div>
    <div id="part1">
        
    </div>
    <div id="bodyMenos10">
        <div id="comoFunciona10" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso1.png" width="100%">
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                        Descarga Vive Fácil desde Google Play o App
                        Store y completa tu registro.<br>
                        ¡Es muy Rapido!</p>
                        <br>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
        <div class="body2">
            <div id="func1" class="contenedor">
                <div class="row" style="color:gray; font-size: 3.2vh;">
                    <div class="col-3" >
                        <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                    </div>
                    <div id="paso11" class="col-7" style="padding-left: 2vw;padding-right: 2vw;">
                        <p style="padding-top: 10vh;"> Descarga Vive Fácil y regístrate:<br>
                            Descarga Vive Fácil desde Google Play o Appstore y completa tu registro!</p>
                            <br>
                            <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                            <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                            <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
                    </div>
                    <div class="col-2" >
                        <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="part2">
        
    </div>
    <div id="bodyMenos9">
        <div id="comoFunciona9" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso2.png" width="100%">
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                        Descarga Vive Fácil desde Google Play o App
                        Store y completa tu registro.<br>
                        ¡Es muy Rapido!</p>
                        <br>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
        <div class="body2">
            <div id="func2" class="contenedor">
                <div class="row"  style="color:gray; font-size: 3.2vh;">
                    <div class="col-3" >
                        <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                    </div>
                    <div id="paso12" class="col-7" style="padding-left: 2vw;padding-right: 2vw; background-color: white;">
                        <p style="padding-top: 10vh;"> Genera tu primera solicitud:<br>
                            Solicita tus requerimientos y Vive Fácil te asistirá en descubrir un experto que se ajuste a tus 
                            necesidades. Cuanta más información suministres, más sencillo será hallar al profesional idóneo para el 
                            proyecto. ¡Es un servicio gratuito y de simple utilización!
                            </p>
                    </div>
                    <div class="col-2" >
                        <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="part3">
        
    </div>
    <div id="bodyMenos8">
        <div id="comoFunciona8" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso3.png" width="100%">
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                        Descarga Vive Fácil desde Google Play o App
                        Store y completa tu registro.<br>
                        ¡Es muy Rapido!</p>
                        <br>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
        <div class="body2">
            <div id="func3" class="contenedor">
                <div class="row" style="color:gray; font-size: 3.2vh;">
                    <div class="col-3" >
                        <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                    </div>
                    <div id="paso13" class="col-7" style="padding-left: 2vw;padding-right: 2vw;  background-color: white;">
                        <p style="padding-top: 10vh;">Cotiza con los profesionales:<br>
                            Opta por solicitar cotizaciones de todos para recibir rápidamente más respuestas o elige al experto que 
                            te genere mayor confianza debido a su valoración.
                            </p>
                    </div>
                    <div class="col-2" >
                        <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="part4">
        
    </div>
    <div id="bodyMenos7">
        <div id="comoFunciona7" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso4.png" width="100%">
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡NUESTROS PROVEEDORES!<br>
                        ¡Revisa nuestra Lista de proveedores 
                        disponibles! para obtener más respuestas
                        rápidamente o elegir al profesional que más
                        te convenga. Recuerda que los profesionales
                        con el certificado de seguridad.
                        son los más seguros.</p>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
        <div class="body2">
            <div id="func4" class="contenedor">
                <div class="row"  style="color:gray; font-size: 3.2vh;">
                    <div class="col-3" >
                        <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                    </div>
                    <div id="paso14" class="col-7" style="padding-left: 2vw;padding-right: 2vw; background-color: white;">
                        <p style="padding-top: 10vh;">Habla con el profesional:<br>
                            Después de que el experto haya evaluado tu solicitud, te contactará por medio del chat. Tendrán la 
                            posibilidad de utilizar este chat para resolver interrogantes y compartir detalles adicionales.
                            </p>
                        <br>
                        <!-- <a href="/comofunciona" class="masInformacion2 btn  btn-lg navbar-brand"><b>MÁS <br> INFORMACIÓN</b></a> -->
                    </div>
                    <div class="col-2" >
                        <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="part5">
    
    </div>
    <div id="bodyMenos6">
        <div id="comoFunciona6" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso5.png" width="100%">
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡NUESTROS PROVEEDORES!<br>
                        ¡Revisa nuestra Lista de proveedores 
                        disponibles! para obtener más respuestas
                        rápidamente o elegir al profesional que más
                        te convenga. Recuerda que los profesionales
                        con el certificado de seguridad.
                        son los más seguros.</p>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
        <div class="body2">
            <div id="func5" class="contenedor">
                <div class="row"  style="color:gray; font-size: 3.2vh;">
                    <div class="col-3" >
                        <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                    </div>
                    <div id="paso15" class="col-7" style="padding-left: 2vw;padding-right: 2vw; background-color: white;">
                        <p style="padding-top: 10vh;">Selecciona tu método de pago<br>
                            (Tarjeta crédito/débito y efectivo)
                            Realizar pagos en Vive Fácil es más conveniente que nunca. Puedes cancelar por los servicios que 
                            contrates mediante la aplicación de la forma más sencilla, rápida y segura o también puedes optar por 
                            pagar en efectivo directamente a tu profesional de servicios.</p>
                        <br>
                        <!-- <a href="/comofunciona" class="masInformacion2 btn  btn-lg navbar-brand"><b>MÁS <br> INFORMACIÓN</b></a> -->
                    </div>
                    <div class="col-2" >
                        <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="part6">
    
    </div>
    <div id="bodyMenos5">
        <div id="comoFunciona5" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso6.png" width="100%">
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡NUESTROS PROVEEDORES!<br>
                        ¡Revisa nuestra Lista de proveedores 
                        disponibles! para obtener más respuestas
                        rápidamente o elegir al profesional que más
                        te convenga. Recuerda que los profesionales
                        con el certificado de seguridad.
                        son los más seguros.</p>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
        <div class="body2">
            <div id="func6" class="contenedor">
                <div class="row"  style="color:gray; font-size: 3.2vh;">
                    <div class="col-3" >
                        <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                    </div>
                    <div id="paso16" class="col-7" style="padding-left: 2vw;padding-right: 2vw; background-color: white;">
                        <p style="padding-top: 10vh;">Valora al profesional <br>
                            Recuerda dejar una valoración del trabajo del profesional para ayudar a otros usuarios a encontrar el 
                            mejor profesional. Tu valoración ayudará a otros usuarios a tomar decisiones informadas sobre a quién 
                            contratar.</p>
                        <br>
                        <!-- <a href="/comofunciona" class="masInformacion2 btn  btn-lg navbar-brand"><b>MÁS <br> INFORMACIÓN</b></a> -->
                    </div>
                    <div class="col-2" >
                        <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="part7">
        
    </div>
    <div id="body3">
        <div id="comoFunciona3" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso2000.png" width="100%" style=" background-color: transparent;">
                    <div style="background-color: white; height: 100%;">
                        
                    </div>
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                        Descarga Vive Fácil desde Google Play o App
                        Store y completa tu registro.<br>
                        ¡Es muy Rapido!</p>
                        <br>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
                </div>
                <div class="col-2" >
                    <a href="comofunciona"><img [src]="direccionNums" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="body35">
        <div id="comoFunciona35" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso3000.png" width="100%" style=" background-color: transparent;">
                    <div style="background-color: white; height: 100%;">
                        
                    </div>
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                        Descarga Vive Fácil desde Google Play o App
                        Store y completa tu registro.<br>
                        ¡Es muy Rapido!</p>
                        <br>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
                </div>
                <div class="col-2" >
                    <a href="comofunciona"><img [src]="direccionNums" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="body4">
        <div id="comoFunciona4" class="contenedor" style="background-color: transparent;">
            <div class="row"  style="color:gray; font-size: 3.2vh;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso1000.png" width="100%">
                </div>
                <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                    <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                        Descarga Vive Fácil desde Google Play o App
                        Store y completa tu registro.<br>
                        ¡Es muy Rapido!</p>
                        <br>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
                </div>
                <div class="col-2" >
                    <img [src]="direccionNums" width="150" style="opacity: 0;">
                    <a href="comofunciona#part1" class="masInfo1 btn  btn-lg"><img [src]="direccionNums1" width="80%"></a>
                    <a href="comofunciona#part2" class="masInfo2 btn  btn-lg"><img [src]="direccionNums2" width="80%"></a>
                    <a href="comofunciona#part3" class="masInfo3 btn  btn-lg"><img [src]="direccionNums3" width="80%"></a>
                    <a href="comofunciona#part4" class="masInfo4 btn  btn-lg"><img [src]="direccionNums4" width="80%"></a>
                    <a href="comofunciona#part5" class="masInfo5 btn  btn-lg"><img [src]="direccionNums5" width="80%"></a>
                    <a href="comofunciona#part6" class="masInfo6 btn  btn-lg"><img [src]="direccionNums6" width="80%"></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- AAAAAAAAAHhhhhh -->
<div class="d-block d-sm-none d-none d-sm-block d-md-none">
    <div id="p0" class="d-flex flex-row justify-content-around" style="padding-top: 8vh; padding-bottom: 2vh; margin-bottom: 0; color:#433689;background-color: white;">
        <h1 class="milton" style="padding-bottom: 0; margin-bottom: 0; font-size: 6vh;">¿Cómo Funciona?</h1>
    </div>

    <div id="bd10">
        <div  class="contenedor">
            <div class="row"  style="color:gray; font-size: 2.5vh;">
                <div class="col-12" >
                    <img src="assets/imagenes/paso11.png" width="100%">
                </div>
                <div class="col-12" style="padding-left: 2vw;padding-right: 2vw;">
                    <p style="padding-top: 1.5vh; text-align: justify;">Descarga Vive Fácil y regístrate:<br>
                        Descarga Vive Fácil desde Google Play o Appstore y completa tu registro!</p>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="115ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="105ppx"></a>
                </div>
            </div>
        </div>
        
    </div>

    <div id="bd9">
        <div class="contenedor">
            <div class="row"  style="color:gray; font-size: 2.5vh;">
                <div class="col-12" >
                    <img src="assets/imagenes/paso22.png" width="100%">
                </div>
                <div class="col-12" style="padding-left: 2vw;padding-right: 2vw;">
                    <p style="padding-top: 1.5vh; text-align: justify;">Genera tu primera solicitud:<br>
                        Solicita tus requerimientos y Vive Fácil te asistirá en descubrir un experto que se ajuste a tus 
                        necesidades. Cuanta más información suministres, más sencillo será hallar al profesional idóneo para el 
                        proyecto. ¡Es un servicio gratuito y de simple utilización!
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div id="bd8">
        <div class="contenedor" >
            <div class="row"  style="color:gray; font-size: 2.5vh;">
                <div class="col-12" >
                    <img src="assets/imagenes/paso33.png" width="100%">
                </div>
                <div class="col-12" style="padding-left: 2vw;padding-right: 2vw;">
                    <p style="padding-top: 1.5vh; text-align: justify;">Cotiza con los profesionales:<br>
                        Opta por solicitar cotizaciones de todos para recibir rápidamente más respuestas o elige al experto que 
                        te genere mayor confianza debido a su valoración.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="bd7">
        <div class="contenedor">
            <div class="row"  style="color:gray; font-size: 2.5vh;">
                <div class="col-12" >
                    <img src="assets/imagenes/paso44.png" width="100%">
                </div>
                <div class="col-12" style="padding-left: 2vw;padding-right: 2vw;">
                    <p style="padding-top: 1.5vh; text-align: justify;">Habla con el profesional:<br>
                        Después de que el experto haya evaluado tu solicitud, te contactará por medio del chat. Tendrán la 
                        posibilidad de utilizar este chat para resolver interrogantes y compartir detalles adicionales.</p>
                        <br>
                        <!-- <a href="/comofunciona" class="masInformacion22 btn  btn-lg navbar-brand"><b>MÁS <br> INFORMACIÓN</b></a> -->
                </div>
            </div>
        </div>
    </div>
    <div id="bd6">
        <div class="contenedor">
            <div class="row"  style="color:gray; font-size: 2.5vh;">
                <div class="col-12" >
                    <img src="assets/imagenes/paso55.png" width="100%">
                </div>
                <div class="col-12" style="padding-left: 2vw;padding-right: 2vw;">
                    <p style="padding-top: 1.5vh; text-align: justify;">Selecciona tu método de pago<br>
                        (Tarjeta crédito/débito y efectivo)
                        Realizar pagos en Vive Fácil es más conveniente que nunca. Puedes cancelar por los servicios que 
                        contrates mediante la aplicación de la forma más sencilla, rápida y segura o también puedes optar por 
                        pagar en efectivo directamente a tu profesional de servicios.</p>
                        <br>
                        <!-- <a href="/comofunciona" class="masInformacion22 btn  btn-lg navbar-brand"><b>MÁS <br> INFORMACIÓN</b></a> -->
                </div>
            </div>
        </div>
    </div>
    <div id="bd5">
        <div class="contenedor">
            <div class="row"  style="color:gray; font-size: 2.5vh;">
                <div class="col-12" >
                    <img src="assets/imagenes/paso66.png" width="100%">
                </div>
                <div class="col-12" style="padding-left: 2vw;padding-right: 2vw;">
                    <p style="padding-top: 1.5vh; text-align: justify;"> Valora al profesional <br>
                        Recuerda dejar una valoración del trabajo del profesional para ayudar a otros usuarios a encontrar el 
                        mejor profesional. Tu valoración ayudará a otros usuarios a tomar decisiones informadas sobre a quién 
                        contratar.
                        </p>
                        <br>
                        <!-- <a href="/comofunciona" class="masInformacion22 btn  btn-lg navbar-brand"><b>MÁS <br> INFORMACIÓN</b></a> -->
                </div>
            </div>
        </div>
    </div>
</div>