<div id="part0" class="d-flex flex-row justify-content-around" style="padding-top: 8vh; padding-bottom: 5vh; margin-bottom: 0; color:#433689;background-color: white;">
    <h1 class="milton" style="padding-bottom: 0; margin-bottom: 0;">¿Cómo Funciona?</h1>
</div>
<div id="part1">
    
</div>
<div id="bodyMenos10">
    <div id="comoFunciona10" class="contenedor" style="background-color: transparent;">
        <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
            <div class="col-3" >
                <img src="assets/imagenes/paso1.png" width="100%">
            </div>
            <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                    Descarga Vive Fácil desde Google Play o App
                    Store y completa tu registro.<br>
                    ¡Es muy Rapido!</p>
                    <br>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
            </div>
            <div class="col-2" >
                <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
            </div>
        </div>
    </div>
    <div class="body2">
        <div id="func1" class="contenedor">
            <div class="row" style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                </div>
                <div id="paso11" class="col-7" style="padding-left: 2vw;padding-right: 2vw;">
                    <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                        Descarga Vive Fácil desde Google Play o App
                        Store y completa tu registro.<br>
                        ¡Es muy Rapido!</p>
                        <br>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                        <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div id="part2">
    
</div>
<div id="bodyMenos9">
    <div id="comoFunciona9" class="contenedor" style="background-color: transparent;">
        <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
            <div class="col-3" >
                <img src="assets/imagenes/paso2.png" width="100%">
            </div>
            <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                    Descarga Vive Fácil desde Google Play o App
                    Store y completa tu registro.<br>
                    ¡Es muy Rapido!</p>
                    <br>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
            </div>
            <div class="col-2" >
                <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
            </div>
        </div>
    </div>
    <div class="body2">
        <div id="func2" class="contenedor">
            <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                </div>
                <div id="paso12" class="col-7" style="padding-left: 2vw;padding-right: 2vw; background-color: white;">
                    <p style="padding-top: 10vh;">¡HAZ TU PRIMERA SOLICITUD!<br>
                        ¡Es gratis! Haz una solicitud indicando
                        lo que necesitas, mientras más detalles
                        incluyas más fácil será encontrar un 
                        profesional que se adapte a ti.</p>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="part3">
    
</div>
<div id="bodyMenos8">
    <div id="comoFunciona8" class="contenedor" style="background-color: transparent;">
        <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
            <div class="col-3" >
                <img src="assets/imagenes/paso3.png" width="100%">
            </div>
            <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                    Descarga Vive Fácil desde Google Play o App
                    Store y completa tu registro.<br>
                    ¡Es muy Rapido!</p>
                    <br>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
            </div>
            <div class="col-2" >
                <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
            </div>
        </div>
    </div>
    <div class="body2">
        <div id="func3" class="contenedor">
            <div class="row" style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                </div>
                <div id="paso13" class="col-7" style="padding-left: 2vw;padding-right: 2vw;  background-color: white;">
                    <p style="padding-top: 10vh;">¡NUESTROS PROVEEDORES!<br>
                        ¡Revisa nuestra Lista de proveedores 
                        disponibles! para obtener más respuestas
                        rápidamente o elegir al profesional que más
                        te convenga. Recuerda que los profesionales
                        con el certificado de seguridad.
                        son los más seguros.</p>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="part4">
    
</div>
<div id="bodyMenos7">
    <div id="comoFunciona7" class="contenedor" style="background-color: transparent;">
        <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
            <div class="col-3" >
                <img src="assets/imagenes/paso4.png" width="100%">
            </div>
            <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                <p style="padding-top: 10vh;">¡NUESTROS PROVEEDORES!<br>
                    ¡Revisa nuestra Lista de proveedores 
                    disponibles! para obtener más respuestas
                    rápidamente o elegir al profesional que más
                    te convenga. Recuerda que los profesionales
                    con el certificado de seguridad.
                    son los más seguros.</p>
            </div>
            <div class="col-2" >
                <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
            </div>
        </div>
    </div>
    <div class="body2">
        <div id="func4" class="contenedor">
            <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
                <div class="col-3" >
                    <img src="assets/imagenes/paso1.JPG" width="100%" style="opacity: 0;">
                </div>
                <div id="paso14" class="col-7" style="padding-left: 2vw;padding-right: 2vw; background-color: white;">
                    <p style="padding-top: 10vh;">Paga a través de la APP<br>
                        Paga tus servicios contratados a través de
                        la app y acederás automaticamente a la
                        garantiía en los trabajos realizados con
                        Vive Fácil.</p>
                    <br>
                    <a href="/comofunciona" class="masInformacion2 btn  btn-lg navbar-brand"><b>MÁS <br> INFORMACIÓN</b></a>
                </div>
                <div class="col-2" >
                    <a href="comofunciona#paso2"><img src="assets/imagenes/num1.png" width="150" style="opacity: 0;"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="part5">

</div>
<div id="body3">
    <div id="comoFunciona3" class="contenedor" style="background-color: transparent;">
        <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
            <div class="col-3" >
                <img src="assets/imagenes/paso2000.png" width="100%" style=" background-color: transparent;">
                <div style="background-color: white; height: 100%;">
                    
                </div>
            </div>
            <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                    Descarga Vive Fácil desde Google Play o App
                    Store y completa tu registro.<br>
                    ¡Es muy Rapido!</p>
                    <br>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
            </div>
            <div class="col-2" >
                <a href="comofunciona"><img [src]="direccionNums" width="150" style="opacity: 0;"></a>
            </div>
        </div>
    </div>
</div>
<div id="body35">
    <div id="comoFunciona35" class="contenedor" style="background-color: transparent;">
        <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
            <div class="col-3" >
                <img src="assets/imagenes/paso3000.png" width="100%" style=" background-color: transparent;">
                <div style="background-color: white; height: 100%;">
                    
                </div>
            </div>
            <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                    Descarga Vive Fácil desde Google Play o App
                    Store y completa tu registro.<br>
                    ¡Es muy Rapido!</p>
                    <br>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
            </div>
            <div class="col-2" >
                <a href="comofunciona"><img [src]="direccionNums" width="150" style="opacity: 0;"></a>
            </div>
        </div>
    </div>
</div>
<div id="body4">
    <div id="comoFunciona6" class="contenedor" style="background-color: transparent;">
        <div class="row"  style="color:gray; font-size: 3.2vh;padding-top: 5vw;">
            <div class="col-3" >
                <img src="assets/imagenes/paso1000.png" width="100%">
            </div>
            <div class="col-7" style="padding-left: 2vw;padding-right: 2vw; opacity: 0;">
                <p style="padding-top: 10vh;">¡DESCÁRGA VIVE FÁCIL Y REGISTRATE!<br>
                    Descarga Vive Fácil desde Google Play o App
                    Store y completa tu registro.<br>
                    ¡Es muy Rapido!</p>
                    <br>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-google-play-badge.png" width="220ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/get-it-on-app-store.png" width="200ppx"></a>
                    <a class="navbar-brand" href="https://play.google.com/store/apps/details?id=com.tome.app"><img src="assets/imagenes/logo-inicio - copia.png" width="200ppx" style="margin-left: 1vw;"></a>
            </div>
            <div class="col-2" >
                <img [src]="direccionNums" width="150" style="opacity: 0;">
                <a href="comofunciona#part1" class="masInfo1 btn  btn-lg"><img [src]="direccionNums1" width="80%"></a>
                <a href="comofunciona#part2" class="masInfo2 btn  btn-lg"><img [src]="direccionNums2" width="80%"></a>
                <a href="comofunciona#part3" class="masInfo3 btn  btn-lg"><img [src]="direccionNums3" width="80%"></a>
                <a href="comofunciona#part4" class="masInfo4 btn  btn-lg"><img [src]="direccionNums4" width="80%"></a>
            </div>
        </div>
    </div>
</div>