.masInfo {
    padding-left: 75px;
    padding-right: 75px;
    background-color: #FFE92F;
}
.preMilton{
    margin-bottom: 0;
}
.milton{
    font-family: "Montserrat Black";
    font-size: 8vh;
    font-weight: 700;
    src: url('/assets/fonts/MiltonKeynes.ttf') format('truetype');
}
.column{
    display: flex;
    flex-flow: wrap;
    justify-content:space-evenly;
  }
.erer{
    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
}
.tarjeta{
    background-color: white;
    border-radius: 15px; 
    margin:1vw;
    padding: 1vw;
    color: #666666;
    h2{
        font-size: x-large;
    }
}
.imagentod{
    padding-top: 2vh;
}
.invis {
    left: 65%;
    top: 66%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
    padding-left: 16vw;
    padding-right: 17vw;
    padding-top: 8vh;
    background-color: #4422db;
    opacity: 0%;
}

h3{
    color: gray;
    font-size: medium;
}

.masInfo0 {
    padding-left: 75px;
    padding-right: 75px;
    background-color: #FFE92F;
    color: #433689;
    font-size: large;
}