<nav class="bar navbar navbar-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="home/"><img src="assets/imagenes/logo-inicio.png" class="logo img-fluid rounded float-left" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid">
          <li class="nav-item">
            <a class="navbar-brand" href="home/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="nosotros/">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="comofunciona/">¿CÓMO FUNCIONA?</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="eresprofesional/">¿ERES PROFESIONAL?</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="servicio/">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="contacto/">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div id="body" class="d-none d-md-block">
    <div class="headerrr">
        <div class=" flex-row justify-content-around d-none d-md-inline" style="color:#433689;">
            <div class="d-flex flex-row justify-content-around">
                <h1 class="milton">Blog</h1>
            </div>
        </div>
        <h1><b>Consejos para seleccionar correctamente las luces de tu hogar </b></h1>
        <img src="assets/imagenes/Instalación-y-características-de-un-cuadro-eléctrico-industrial.jpg" style="width: 50%;">
    </div>
    <h2 class="preMilton"><b>Aquí tienes algunos consejos para seleccionar correctamente las luces para diferentes espacios de tu hogar:<br></b></h2>
    <div >
        <ul type="1" class="container-fluid" >
            <li class="px-5"> Define el propósito del espacio: Antes de elegir las luces, considera cómo se utilizará cada espacio. Por ejemplo, la sala de estar puede requerir una iluminación ambiental suave para crear un ambiente relajante, mientras que un área de estudio o trabajo necesitará una iluminación más brillante y focalizada.
            </li>
            <li class="px-5">
                Conoce los diferentes tipos de iluminación:
                - Iluminación ambiental: Proporciona una iluminación general y uniforme en toda la habitación.
                - Iluminación de acento: Destaca características específicas, como obras de arte o elementos decorativos.
                - Iluminación de tarea: Proporciona una luz brillante y concentrada para actividades específicas, como leer o trabajar.

            </li>
            <li class="px-5">
                Considera el tamaño de la habitación: El tamaño de la habitación puede influir en la cantidad y tipo de luces que necesitas. Las habitaciones más grandes pueden requerir varias fuentes de luz para una iluminación uniforme, mientras que las habitaciones más pequeñas pueden beneficiarse de luces empotradas o lámparas de pie.
            </li>
            <li class="px-5">Elige la temperatura de color adecuada: La temperatura de color de las luces afecta la atmósfera de la habitación. Las luces cálidas (tonos amarillos) son ideales para crear una sensación acogedora en dormitorios y salas de estar, mientras que las luces frías (tonos blancos o azules) son más apropiadas para áreas de trabajo y cocina.
            </li>
            <li class="px-5">Utiliza reguladores de intensidad: Los reguladores de intensidad te permiten ajustar la cantidad de luz según tus necesidades y crear diferentes ambientes en una habitación. Esto es especialmente útil en espacios multifuncionales.
            </li>
            <li class="px-5">Considera la eficiencia energética: Opta por luces LED de alta eficiencia energética. Son más duraderas, consumen menos energía y ofrecen una amplia gama de opciones de temperatura de color.
            </li>
            <li class="px-5">No olvides la estética: Las luces también deben complementar el estilo y la decoración de tu hogar. Elige accesorios que se ajusten al estilo general de la habitación y que aporten un toque de elegancia y sofisticación.
            </li>
        </ul>
    </div>
    <p>Recuerda que cada espacio tiene necesidades de iluminación únicas, así que es importante tomar en cuenta las características individuales al seleccionar las luces para tu hogar.</p>
</div>


<div id="body2" class="d-inline d-sm-none d-none d-sm-inline d-md-none">
    <div class="headerrr">
        <div class=" flex-row justify-content-around" style="color:#433689;">
            <div class="d-flex flex-row justify-content-around">
                <h1 class="milton">Blog</h1>
            </div>
        </div>
        <h1><b>Consejos para seleccionar correctamente las luces de tu hogar </b></h1>
        <img src="assets/imagenes/Instalación-y-características-de-un-cuadro-eléctrico-industrial.jpg" style="width: 50%;">
    </div>
    <h2 class="preMilton"><b>Aquí tienes algunos consejos para seleccionar correctamente las luces para diferentes espacios de tu hogar:<br></b></h2>
    <div >
        <ul class="container-fluid">
            <li class="px-5"> Define el propósito del espacio: Antes de elegir las luces, considera cómo se utilizará cada espacio. Por ejemplo, la sala de estar puede requerir una iluminación ambiental suave para crear un ambiente relajante, mientras que un área de estudio o trabajo necesitará una iluminación más brillante y focalizada.
            </li>
            <li class="px-5">
                Conoce los diferentes tipos de iluminación:
                - Iluminación ambiental: Proporciona una iluminación general y uniforme en toda la habitación.
                - Iluminación de acento: Destaca características específicas, como obras de arte o elementos decorativos.
                - Iluminación de tarea: Proporciona una luz brillante y concentrada para actividades específicas, como leer o trabajar.

            </li>
            <li class="px-5">
                Considera el tamaño de la habitación: El tamaño de la habitación puede influir en la cantidad y tipo de luces que necesitas. Las habitaciones más grandes pueden requerir varias fuentes de luz para una iluminación uniforme, mientras que las habitaciones más pequeñas pueden beneficiarse de luces empotradas o lámparas de pie.
            </li>
            <li class="px-5">Elige la temperatura de color adecuada: La temperatura de color de las luces afecta la atmósfera de la habitación. Las luces cálidas (tonos amarillos) son ideales para crear una sensación acogedora en dormitorios y salas de estar, mientras que las luces frías (tonos blancos o azules) son más apropiadas para áreas de trabajo y cocina.
            </li>
            <li class="px-5">Utiliza reguladores de intensidad: Los reguladores de intensidad te permiten ajustar la cantidad de luz según tus necesidades y crear diferentes ambientes en una habitación. Esto es especialmente útil en espacios multifuncionales.
            </li>
            <li class="px-5">Considera la eficiencia energética: Opta por luces LED de alta eficiencia energética. Son más duraderas, consumen menos energía y ofrecen una amplia gama de opciones de temperatura de color.
            </li>
            <li class="px-5">No olvides la estética: Las luces también deben complementar el estilo y la decoración de tu hogar. Elige accesorios que se ajusten al estilo general de la habitación y que aporten un toque de elegancia y sofisticación.
            </li>
        </ul>
    </div>
    <p>Recuerda que cada espacio tiene necesidades de iluminación únicas, así que es importante tomar en cuenta las características individuales al seleccionar las luces para tu hogar.</p>
</div>
