.horarios{
    background-color: #433689;
    color: white;
    p{
        margin-top: auto;
        margin-bottom: auto;
        font-size: large;
        padding-left: 5vw;
    }
}
.navbar{
    padding: 0;
}

.purpleLine{
    background-color: #887BC6;
}


  
.navbarBott{
    z-index: 50;
    position: relative;
    bottom: 0;
}

.nav-item{
    color: white;
}

.aeo{
    padding-left: 0.4vw;
    padding-right: 0.4vw;
}
