.horarios{
    background-color: #433689;
    color: white;
    p{
        margin-top: auto;
        margin-bottom: auto;
        font-size: large;
        padding-left: 5vw;
    }
}
.navbar{
    padding: 0;
}
.bar{
    background-color: #171B21;
    color: white;
    a{
        color: white;
        font-size: small;
    }
    a:hover{
        color: yellow;
    }
}

.purpleLine{
    background-color: #887BC6;
}

img{
    width: 8vw;
    margin-right: 10vw;
    margin-left: 5vw;
}