<div id="body" >
    <div id="garantia" >
        <img src="assets/imagenes/sfsdsdf.jpg" style="width: 100%;">
        <div class="masInfo" id="servicioNecesitasModal" >
            <div class="modal-content">
                <div class="modal-header justify-content-start border-0">
                    <img src="assets/imagenes/000011111Amarillo.png" class="" width="60px" >
                    <h2 class="modal-title" id="servicioNecesitasModalLabel" style="color: #305E90;"><b>¿Qué servicio necesitas?</b></h2>
                </div>
                <div class="modal-body" style="color: #305E90; padding-top: 0; padding-left: 2vw; padding-right: 2vw;  font-size: 2.5vh;">
                    <p style="color: grey; padding-top: 0;">¡Realiza tu Solicitud y Vive Fácil Te facilita de forma rapida
    a todos los profesionales!</p>
                    <form>
                    <div class="row" >
                        <div class="col-6 colBlog" style="color: #305E90; padding-top: 0;padding-bottom: 0;padding-left: 1vw; ">
                            <div class="selecciones">
                                <img src="assets/imagenes/15descuento.JPG">
                            </div>
                            <div class="selecciones">
                                <h5>NOMBRES</h5>
                                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ej. Anita Perez">
                            </div>
                            <div class="selecciones">
                                <h5>Correo</h5>
                                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ej. micorreo@gmail.com">
                            </div>
                        </div>
                        <div class="col-6 colBlog" style="color: #305E90; padding-top: 0;padding-bottom: 0;padding-right: 1vw; ">
                            <div class="selecciones">
                                <h5>CATEGORÍA</h5>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Aire acondicionado</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="selecciones">
                                <h5>SUBCATEGORÍA</h5>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Instalación</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="selecciones">
                                <h5>TÍTULO</h5>
                                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ej. Filtraciones en la cocina">
                            </div>
                            <div class="selecciones">
                                <h5>TELÉFONO</h5>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ej. 098 765 4321">
                            </div>
                            
                        </div>
                    </div>
                    <div class="d-inline-flex p-2 justify-content-center" style="width: 100%;">
                        <button type="button" class="btn masInfo2"><p style="padding: 0; margin: 0; font-size: 2.5vh;"><b>Obtener <br> Descuento</b></p></button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="clientes">
        <div class="d-flex flex-row justify-content-around" style="padding-top: 1vh; color:#433689;">
          <h2>Reparación de Aires Acondicionados en Barcelona</h2>
        </div>
        <div class="row rowClient">
          <div class="col-4 colBlog" style="color: gray;">
            <img src="assets/imagenes/Instalación-y-características-de-un-cuadro-eléctrico-industrial.jpg" class="imgPerfil">
            <div class="row" style="margin-top: 5vh;">
              <h2><b>Camilo Accosta</b></h2>
            </div>
            <div class="row">
              <img src="assets/imagenes/estrellas.png" class="" width="100px" >
            </div>
            <div class="row">
              <p><small>opinión en Google Play</small></p>
            </div>
            <div class="row" style="margin-top: 3vh;">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor, arcu ac gravida bibendum, dui mi bibendum nisl, quis dignissim lectus mi in ipsum. Curabitur quis dignissim ligula, eget consectetur libero. Sed ac enim eros. Vivamus imperdiet ac orci vel condimentum. Etiam commodo aliquet purus placerat ornare. Curabitur eget porta est. Suspendisse quis risus quis sem bibendum vulputate. Mauris purus enim, posuere sit amet dolor et, volutpat scelerisque mauris. Suspendisse dapibus, lorem dapibus lacinia aliquet, dui enim mollis urna, ut bibendum tortor quam id elit. Fusce et ex ut enim commodo ullamcorper. Donec malesuada cursus convallis. Vivamus non imperdiet tortor. In hac habitasse platea dictumst. Quisque et diam mattis quam dignissim maximus.</p>
            </div>
          </div>
          <div class="col-4 colBlog" style="color: gray;">
            <img src="assets/imagenes/Instalación-y-características-de-un-cuadro-eléctrico-industrial.jpg" class="imgPerfil">
            <div class="row" style="margin-top: 5vh;">
              <h2><b>Camilo Accosta</b></h2>
            </div>
            <div class="row">
              <img src="assets/imagenes/estrellas.png" class="" width="100px" >
            </div>
            <div class="row">
              <p><small>opinión en Google Play</small></p>
            </div>
            <div class="row" style="margin-top: 3vh;">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor, arcu ac gravida bibendum, dui mi bibendum nisl, quis dignissim lectus mi in ipsum. Curabitur quis dignissim ligula, eget consectetur libero. Sed ac enim eros. Vivamus imperdiet ac orci vel condimentum. Etiam commodo aliquet purus placerat ornare. Curabitur eget porta est. Suspendisse quis risus quis sem bibendum vulputate. Mauris purus enim, posuere sit amet dolor et, volutpat scelerisque mauris. Suspendisse dapibus, lorem dapibus lacinia aliquet, dui enim mollis urna, ut bibendum tortor quam id elit. Fusce et ex ut enim commodo ullamcorper. Donec malesuada cursus convallis. Vivamus non imperdiet tortor. In hac habitasse platea dictumst. Quisque et diam mattis quam dignissim maximus.</p>
            </div>
          </div>
          <div class="col-4 colBlog" style="color: gray;">
            <img src="assets/imagenes/Instalación-y-características-de-un-cuadro-eléctrico-industrial.jpg" class="imgPerfil">
            <div class="row" style="margin-top: 5vh;">
              <h2><b>Camilo Accosta</b></h2>
            </div>
            <div class="row">
              <img src="assets/imagenes/estrellas.png" class="" width="100px" >
            </div>
            <div class="row">
              <p><small>opinión en Google Play</small></p>
            </div>
            <div class="row" style="margin-top: 3vh;">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor, arcu ac gravida bibendum, dui mi bibendum nisl, quis dignissim lectus mi in ipsum. Curabitur quis dignissim ligula, eget consectetur libero. Sed ac enim eros. Vivamus imperdiet ac orci vel condimentum. Etiam commodo aliquet purus placerat ornare. Curabitur eget porta est. Suspendisse quis risus quis sem bibendum vulputate. Mauris purus enim, posuere sit amet dolor et, volutpat scelerisque mauris. Suspendisse dapibus, lorem dapibus lacinia aliquet, dui enim mollis urna, ut bibendum tortor quam id elit. Fusce et ex ut enim commodo ullamcorper. Donec malesuada cursus convallis. Vivamus non imperdiet tortor. In hac habitasse platea dictumst. Quisque et diam mattis quam dignissim maximus.</p>
            </div>
          </div>
        </div>
      </div>
    <div id="ultimasSOlicitudes">
        <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
            <h1 class="preMilton" style="font-size: 6vh;">Últimas</h1>
        </div>
        <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
            <h1 class="milton" style=" font-size: 14vh;">Solicitudes</h1>
        </div>
        <div id="solicitudes" >
            <img src="assets/imagenes/solicitudes.JPG" style="width: 100%;">
        </div>
    </div>
    <div id="100porcien" >
        <img src="assets/imagenes/100pporcien.JPG" style="width: 100%;">
    </div>
</div>