<nav class="bar navbar navbar-dark navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="home/"><img src="assets/imagenes/logo-inicio.png" class="logo img-fluid rounded float-left" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid">
        <li class="nav-item">
          <a class="navbar-brand" href="home/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="nosotros/">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="comofunciona/">¿CÓMO FUNCIONA?</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="eresprofesional/">¿ERES PROFESIONAL?</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="servicio/">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="contacto/">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="body" class="carousel slide d-none d-md-block">
    <div id="garantia">
        <img src="assets/imagenes/sfsdsdf.png" style="width: 100%;">
        <div class="masInfo5" id="servicioNecesitasModal">
            <div class="modal-content">
                <div class="modal-header justify-content-start border-0">
                    <img src="assets/imagenes/000011111Amarillo.png" class="" width="40px" >
                    <h2 class="modal-title" id="servicioNecesitasModalLabel" style="color: #305E90; font-size: 2.3vh;"><b>¿Qué servicio necesitas?</b></h2>
                </div>
                <div class="modal-body" style="color: #305E90; padding-top: 0; padding-left: 2vw; padding-right: 2vw;  font-size: 2vh; height: 100%;">
                    <p style="color: grey; padding-top: 0;">¡Realiza tu Solicitud y Vive Fácil Te facilita de forma rapida a todos los profesionales!</p>
                    <!-- FORM -->
                    <form [formGroup]="formEdit">
                        <div class="row" style="max-height: 80vh;">
                          <div class="col-6 colBlog" style="color: #305E90; padding-top: 0;padding-bottom: 0;padding-left: 1vw; ">
                            <div class="selecciones" style="max-width: 100vw;">
                              <img src="assets/imagenes/15descuento.JPG" width="100%" >
                            </div>
                            <!-- Nombres -->
                            <div class="selecciones">
                              <h5 style="font-size: 2vh;">NOMBRES</h5>
                              <input 
                              type="text"
                              formControlName="nombre"
                              class="form-control"
                              [ngClass]="isInvalidForm('nombre') ? 'is-invalid' : ''"
                              placeholder="Ej. Anita Perez"
                              />
                              <div class="invalid-feedback">
                                {{ getErrorMessage(formEdit, "nombre") }}
                              </div>
                            </div>
                            <!-- Correo -->
                            <div class="selecciones">
                              <h5 style="font-size: 2vh;">Correo</h5>
                              <input 
                              type="text"
                              formControlName="correo"
                              class="form-control"
                              [ngClass]="isInvalidForm('correo') ? 'is-invalid' : ''"
                              placeholder="Ej. micorreo@gmail.com"
                              />
                              <div class="invalid-feedback">
                                {{ getErrorMessage(formEdit, "correo") }}
                              </div>
                            </div>
                          </div>
                          <div class="col-6 colBlog text-truncate" style="color: #305E90; padding-top: 0;padding-bottom: 0;padding-right: 1vw; ">
                            <!-- Profesion -->
                            <div class="selecciones">
                              <h5 style="font-size: 2vh;">SERVICIO</h5>
                              <select
                                class="form-select"
                                [ngClass]="isInvalidForm('profesion') ? 'is-invalid' : ''"
                                formControlName="profesion"
                                id="ge"
                                aria-describedby="selectorServicioCrearFeedback" style="width: 100%;"
                              >
                                <option selected disabled value="">
                                  Elija un servicio...
                                </option>
                                <option
                                  *ngFor="let c of servicios"
                                  [id]="c.id"
                                  [value]="c.id"
                                >
                                  {{ c.nombre }}
                                </option>
                              </select>
                            </div>
                            <!-- Titulo -->
                            <div class="selecciones">
                              <h5 style="font-size: 2vh;">TÍTULO</h5>
                              <textarea 
                                type="text"
                                formControlName="titulo"
                                class="form-control"
                                [ngClass]="isInvalidForm('titulo') ? 'is-invalid' : ''"
                                placeholder="Ej. Filtraciones en la cocina">
                              </textarea>
                              <div class="invalid-feedback">
                                {{ getErrorMessage(formEdit, "titulo") }}
                              </div>
                            </div>
                            <!-- Telefono -->
                            <div class="selecciones">
                              <h5 style="font-size: 2vh;">TELÉFONO</h5>
                              <input 
                                type="text"
                                formControlName="telefono"
                                class="form-control"
                                (keypress)="numberOnlyPluss($event)"
                                [ngClass]="isInvalidForm('telefono') ? 'is-invalid' : ''"
                                placeholder="Ej. 098 765 4321"
                              />
                              <div class="invalid-feedback">
                                {{ getErrorMessage(formEdit, "telefono") }}
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="d-inline-flex p-2 justify-content-center" style="width: 100%;">
                          <button type="button" class="btn masInfo9" data-bs-toggle="modal" data-bs-target="#modalConfirmacion3"
                          (click)="onAceptar()"
                          >
                          <p style="padding: 0; margin: 0; font-size: 1.8vh;"><b>Obtener <br> Descuento</b></p></button>
                      </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <div id="ultimasSOlicitudes">
        <div class="d-flex flex-row justify-content-around" style=" color:#433689;">

            <h1 class="preMilton" style="font-size: 6vh;">Últimas</h1>
        </div>
        <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
            <h1 class="milton" style=" font-size: 14vh;">Solicitudes</h1>
        </div>
        <div id="solicitudes" style="background-color: #EFEFF4; padding-left: 5vw;padding-right: 5vw; padding-top: 2vw;padding-bottom: 2vw;">
            <div class="erer row d-flex flex-row justify-content-around" >
                <div class="tarjeta col-3">
                    <h2><b>Limpieza de piscina</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Necesito urgente limpiar mi piscina de unos 15 metros de largo y 10 de ancho!</p>
                </div>
                <div class="tarjeta col-3">
                    <h2><b>Pintar Casa</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Quiero pintar mi casa de color blanco. Solo interior. 4 habitaciones, 2 baños. Comedor y cocina.</p>
                </div>
                
                <div class="tarjeta col-3">
                    <h2><b>Cheesecake de Frutilla</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Quisiera un cheescake de frutilla para el viernes. Es para la fiesta de mi hija, que sea lo suficientemente grando para 7 personas.</p>
                </div>
                <div class="tarjeta col-3">
                    <h2><b>Limpieza de hogar</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Necesito a alguien que me limpie mi patio trasero, está un desastre después de la fiesta de ayer.</p>
                </div>
                <div class="tarjeta col-3">
                    <h2><b>Decoración para fiesta</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Necesito a alguien que sepa de decoraciones de matinés para mi hijo de 3 añitos con temática de superheroes. No va a ser muy grande, solo en el piso bajo de mi casa.</p>
                </div>
                <div class="tarjeta col-3">
                    <h2><b>Reparación de aire</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Mi aire acondicionado ya no enfría mucho y empezó a tirar agua cada vez que lo prendo por más de 10 minutos.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="servicios" class="contenedor">
        <div class="column" >
            <div class="icon" *ngFor="let serv of servicios" style="padding: 0.5vw;">
                <!-- <ion-label>{{serv.nombre}}</ion-label> -->
                <img
                src="https://tomesoft1.pythonanywhere.com{{serv.foto}}" width="120px"
                />
            </div>
        </div>
    </div>
    
    <div id="100porcien" >
        <img src="assets/imagenes/100pporcien.png" style="width: 100%;">
    </div>
</div>

<div id="body" class="d-block d-sm-none d-none d-sm-block d-md-none">
    <div id="notACarousel" class="d-block d-sm-none d-none d-sm-block d-md-none">
        <div class="modal-content"  style="margin-top: 2vh;">
            <div class="modal-header justify-content-start border-0 " >
                <img src="assets/imagenes/000011111Amarillo.png" class="" width="30px" >
                <h2 class="modal-title" style="color: #305E90; font-size: 2.5vh;"><b>¿Qué servicio necesitas?</b></h2>
            </div>
            <div class="modal-body " style="color: #305E90; padding-top: 0; padding-left: 2vw; padding-right: 2vw;  font-size: 2vh; height: 100%;">
                <p style="color: grey; padding-top: 0;">¡Realiza tu Solicitud y Vive Fácil Te facilita de forma rapida a todos los profesionales!</p>
                <!-- FORM -->
                <form [formGroup]="formEdit">
                    <div class="row" style="max-height: 80vh;">
                      <div class="col-6 colBlog" style="color: #305E90; padding-top: 0;padding-bottom: 0;padding-left: 1vw; ">
                        <div class="selecciones" style="max-width: 100vw;">
                          <img src="assets/imagenes/15descuento.JPG" width="100%" >
                        </div>
                        <!-- Nombres -->
                        <div class="selecciones">
                          <h5 style="font-size: 2vh;">NOMBRES</h5>
                          <input 
                          type="text"
                          formControlName="nombre"
                          class="form-control"
                          [ngClass]="isInvalidForm('nombre') ? 'is-invalid' : ''"
                          placeholder="Ej. Anita Perez"
                          />
                          <div class="invalid-feedback">
                            {{ getErrorMessage(formEdit, "nombre") }}
                          </div>
                        </div>
                        <!-- Correo -->
                        <div class="selecciones">
                          <h5 style="font-size: 2vh;">Correo</h5>
                          <input 
                          type="text"
                          formControlName="correo"
                          class="form-control"
                          [ngClass]="isInvalidForm('correo') ? 'is-invalid' : ''"
                          placeholder="Ej. micorreo@gmail.com"
                          />
                          <div class="invalid-feedback">
                            {{ getErrorMessage(formEdit, "correo") }}
                          </div>
                        </div>
                      </div>
                      <div class="col-6 colBlog text-truncate" style="color: #305E90; padding-top: 0;padding-bottom: 0;padding-right: 1vw; ">
                        <!-- Profesion -->
                        <div class="selecciones">
                          <h5 style="font-size: 2vh;">SERVICIO</h5>
                          <select
                            class="form-select"
                            [ngClass]="isInvalidForm('profesion') ? 'is-invalid' : ''"
                            formControlName="profesion"
                            id="ge"
                            aria-describedby="selectorServicioCrearFeedback" style="width: 100%;"
                          >
                            <option selected disabled value="">
                              Elija un servicio...
                            </option>
                            <option
                              *ngFor="let c of servicios"
                              [id]="c.id"
                              [value]="c.id"
                            >
                              {{ c.nombre }}
                            </option>
                          </select>
                        </div>
                        <!-- Titulo -->
                        <div class="selecciones">
                          <h5 style="font-size: 2vh;">TÍTULO</h5>
                          <textarea 
                            type="text"
                            formControlName="titulo"
                            class="form-control"
                            [ngClass]="isInvalidForm('titulo') ? 'is-invalid' : ''"
                            placeholder="Ej. Filtraciones en la cocina">
                          </textarea>
                          <div class="invalid-feedback">
                            {{ getErrorMessage(formEdit, "titulo") }}
                          </div>
                        </div>
                        <!-- Telefono -->
                        <div class="selecciones">
                          <h5 style="font-size: 2vh;">TELÉFONO</h5>
                          <input 
                            type="text"
                            formControlName="telefono"
                            class="form-control"
                            (keypress)="numberOnlyPluss($event)"
                            [ngClass]="isInvalidForm('telefono') ? 'is-invalid' : ''"
                            placeholder="Ej. 098 765 4321"
                          />
                          <div class="invalid-feedback">
                            {{ getErrorMessage(formEdit, "telefono") }}
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="d-inline-flex p-2 justify-content-center" style="width: 100%;">
                      <button type="button" class="btn masInfo9" data-bs-toggle="modal" data-bs-target="#modalConfirmacion3"
                      (click)="onAceptar()"
                      >
                      <p style="padding: 0; margin: 0; font-size: 1.8vh;"><b>Obtener <br> Descuento</b></p></button>
                  </div>
                  </form>
            </div>
        </div>
    </div>
    
    <div id="ultimasSOlicitudes">
        <div class="d-flex flex-row justify-content-around" style=" color:#433689; margin-top: 3vh;">

            <h1 class="preMilton" style="font-size: 3vh;">Últimas</h1>
        </div>
        <div class="d-flex flex-row justify-content-around" style=" color:#433689;">
            <h1 class="milton" style=" font-size: 7vh;">Solicitudes</h1>
        </div>
        <div id="solicitudes" style="background-color: #EFEFF4; padding-left: 5vw;padding-right: 5vw; padding-top: 2vw;padding-bottom: 2vw;">
            <div class="erer row d-flex flex-row justify-content-around" >
                <div class="tarjeta col-10" style="margin-bottom: 3vh;">
                    <h2><b>Limpieza de piscina</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Necesito urgente limpiar mi piscina de unos 15 metros de largo y 10 de ancho!</p>
                </div>
                <div class="tarjeta col-10" style="margin-bottom: 3vh;">
                    <h2><b>Pintar Casa</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Quiero pintar mi casa de color blanco. Solo interior. 4 habitaciones, 2 baños. Comedor y cocina.</p>
                </div>
                
                <div class="tarjeta col-10" style="margin-bottom: 3vh;">
                    <h2><b>Cheesecake de Frutilla</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Quisiera un cheescake de frutilla para el viernes. Es para la fiesta de mi hija, que sea lo suficientemente grando para 7 personas.</p>
                </div>
                <div class="tarjeta col-10" style="margin-bottom: 3vh;">
                    <h2><b>Limpieza de hogar</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Necesito a alguien que me limpie mi patio trasero, está un desastre después de la fiesta de ayer.</p>
                </div>
                <div class="tarjeta col-10" style="margin-bottom: 3vh;">
                    <h2><b>Decoración para fiesta</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Necesito a alguien que sepa de decoraciones de matinés para mi hijo de 3 añitos con temática de superheroes. No va a ser muy grande, solo en el piso bajo de mi casa.</p>
                </div>
                <div class="tarjeta col-10" style="margin-bottom: 3vh;">
                    <h2><b>Reparación de aire</b></h2>
                    <p> Guayaquil, 21 abril 2023, 5:58p. m.</p>
                    <p>Mi aire acondicionado ya no enfría mucho y empezó a tirar agua cada vez que lo prendo por más de 10 minutos.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="servicios" class="contenedor">
        <div class="column" >
            <div class="icon" *ngFor="let serv of servicios" style="padding: 0.5vw;">
                <!-- <ion-label>{{serv.nombre}}</ion-label> -->
                <img
                src="https://tomesoft1.pythonanywhere.com{{serv.foto}}" width="120px"
                />
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modalConfirmacion3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Solicitud enviada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Su solicitud fue enviada correctamente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" refresh()">Confirmar</button>
            </div>
        </div>
    </div>
</div>