
#body{
    padding-top: 10px;
    z-index: 50;
    top:0;
    position: relative;
    display: block;
}
#qeweqw{
    z-index: 50;
    top:0;
    position: relative;
    display: block;
}
.body2{
    padding-top: 10px;
    bottom: 0%;
    z-index: 10;
    position: sticky;
    ;
}
#body3{
    padding-top: 10px;
    top: 15%;
    z-index: -2;
    position: fixed;
}
#body35{
    padding-top: 10px;
    top: 15%;
    z-index: -20;
    position: fixed;
}
#body4{
    padding-top: 10px;
    top: 15%;
    z-index: 0;
    position: fixed;
}
#bodyMenos5{
    padding-top: 10px;
    top: 15%;
    z-index: -5;
    position: sticky;
}
#bodyMenos6{
    padding-top: 10px;
    top: 15%;
    z-index: -6;
    position: sticky;
}
#bodyMenos7{
    padding-top: 10px;
    top: 15%;
    z-index: -7;
    position: sticky;
}
#bodyMenos8{
    padding-top: 10px;
    top: 15%;
    z-index: -8;
    position: sticky;
}
#bodyMenos9{
    padding-top: 10px;
    top: 15%;
    z-index: -9;
    position: sticky;
}
#bodyMenos10{
    padding-top: 10px;
    top: 15%;
    z-index: -10;
    position: sticky;
}

// .carousel-control-prev-icon{
//     background-color: #887BC6;
//     padding: 10px;
// }
.masInfo0 {
    left: 77%;
    top: 80%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
    padding-left: 75px;
    padding-right: 75px;
    background-color: #FFE92F;
}
#tipoUsuario{
    position: relative;
    display: block;
    
}
.plus-image {
    left: 35%;
    top: 40%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}
.plus-image2 {
    left: 55%;
    top: 40%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}
#servicios{
    background-color: white;
    color:#433689;
}
.serviciosClass{
    padding-left: 2%;
    padding-right: 2%;
}
.masInfo1 {
    left: 0%;
    top: 0%;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    width: 100%;
}
.masInfo2 {
    left: 0%;
    top: 20%;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    width: 100%;
}
.masInfo3 {
    left: 0%;
    top: 40%;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    width: 100%;
}
.masInfo4 {
    left: 0%;
    top: 60%;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    width: 100%;
}
.masInfo5 {
    left: 0%;
    top: 80%;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    width: 100%;
}
.masInfo6 {
    left: 0%;
    top: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
    width: 100%;
}
#comoFunciona{
    background-color: white;
}
.masInformacion2 {
    padding-left: 75px;
    padding-right: 75px;
    z-index: 150;
    position: absolute;
    display: block;
    background-color: #FFE92F;
}
.masInformacion22 {
    padding-left: 75px;
    padding-right: 75px;
    z-index: 150;
    background-color: #FFE92F;
}
.imgBlog{
    width: 100%;
    border-radius: 10%;
}
.rowBlog{
    margin-left: 5vw;
    margin-right: 5vw;
}
.colBlog{
    padding: 2vw;
    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
}
#descarga{
    background-color: #887BC6;
    padding-top: 10px;
    position: relative;
    display: block;
}

.qrcode{
    left: 51%;
    top: 40%;
    position: absolute;

}
#clientes{
    background-color: white;
}

.rowClient{
    background-color: #F5F5F8;
    margin-left: 5vw;
    margin-right: 5vw;
}
.modal-xl {
    --bs-modal-width: 1140px;
  }
.preMilton{
    margin-bottom: 0;
}
.milton{
    font-family: "Montserrat Black";
    font-size:10vh;
    src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    font-size: 20px;
}
.masInfo {
    left: 18%;
    top: 80%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F2902A;
    font-size: medium;
}
.contenedor2{
    height: 100vh;
}