@font-face {
    font-family: "milton-keynes";
    src: url('/assets/fonts/MiltonKeynes.ttf') format('truetype');
}
@import url('https://fonts.cdnfonts.com/css/milton-keynes');

*{
    font-family: 'Lato';
}
.horarios{
    background-color: #433689;
    color: white;
    p{
        margin-top: auto;
        margin-bottom: auto;
        font-size: large;
        padding-left: 5vw;
    }
}
.navbar{
    padding: 0;
}
.bar{
    color: white;
    a{
        color: white;
        font-size: large;
        font-weight: bold;
    }
    a:hover{
        color: yellow;
    }
}

.purpleLine{
    background-color: #887BC6;
}

.logo{
    width: 5vw;
    margin-right: 10vw;
    margin-left: 5vw;
}
svg{
    margin-right: 2vw;
}
.navbarTopp {
    overflow: hidden;
    background-color: #423585;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

.contenedor{
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 5vh;
}

.nav-item{
    color: white;
}

@media only screen and (max-width: 991px) {
    .horarios{
        background-color: #433689;
        color: white;
        p{
            margin-top: auto;
            margin-bottom: auto;
            font-size: small;
            padding-left: 1vw;
        }
        
    }
    .logo{
        width: 100px;
    }
}

.modal-xl {
    --bs-modal-width: 1140px;
  }