.preMilton{
    margin-bottom: 0;
}
.milton{
    font-family: "Montserrat Black";
    font-size:10vh;
    font-weight: 700;
    src: url('/assets/fonts/MiltonKeynes.ttf') format('truetype');
}
.col{
    .col{
        margin-bottom: 2vh;
    }
}